.container {
    width: 100%;
    max-width: 1040px;
    margin: 50px auto;

}
body{
 background-image: url(./img/background\ 1\ .png);
    
  background-size: cover;
     }

.img1{

width: 53px;
height: 47px;

}
.trust-gallery-link{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;


}
.menu-list-1{
    display: flex;
    margin: auto;
    position: absolute;
    
}

.menu-list-2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 19px;
text-transform: uppercase;
width: 135px;
height: 21px;
color: #FFFFFF;
margin: 10px 10px;

}

.menu-list-3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
color: white;
height: 30px;

display: flex;
justify-content: flex-end;
}

.caption{
    width: 1040px;
    height: 61px;  
}

.menu-list-4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
color: white;
height: 30px;
display: flex;
justify-content: flex-end;
}

.span{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
}

.description{

}

.trust-gallery{
    margin: auto;
    padding: 0;
   

}

.trust-gallery-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
  
}

.trust-gallery-item{
    display: block;
    max-width: 100%;

}

.trust-gallery-image{
    display: block;
    max-width: 100%;
    padding: 0 0 20px;
}

.subjec{
    margin: 50px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}